@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div>
		<h1>Trash Compactor</h1>
	</div>
	<div class="player-health">
		<label>Health</label>
		<div class="player-health-bar">
			<div class="player-health-bar-progress" style="width: @GetHealthPercent()%"></div>
		</div>
	</div>
</root>

@code
{
	float playerCurrentHealth;

	protected override void OnUpdate()
	{
		// Log.Info( playerCurrentHealth.ToString() );
	}

	private float GetHealthPercent()
	{
		playerCurrentHealth = GetComponentInParent<PlayerStats>().CurrentHealth;
		return GetComponentInParent<PlayerStats>().CurrentHealth.FloorToInt();
	}
	
	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( GetComponentInParent<PlayerStats>().CurrentHealth );
}
