{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "55a2e189-f686-47d5-9580-3d06ab998739",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}